---
title: Crew | LEFOLG
description: "LEFOLG is an organization based in Roseville, CA that support local groups and have an ideology called Lefolg: the wealth of the rich, but the ideals of the poor man."
layout: tlm-default
---

<!-- <h1 class="page-title">Our Crew</h1>
<div class="crew-container">
  {% assign crew = site.staff | sort: 'priority' %} {% for member in crew %}
  <div class="crew-member">
    <img src="{{member.image}}" alt="{{member.name}}" />
    <div>
      <h2>{{member.name}}</h2>
      <h3>{{member.position}}</h3>
      {{member.content}}
    </div>
  </div>
  {% endfor %}
</div> -->

<h1 class="page-title">Gallery</h1>

<div class="container gallery-container">
  {% for image in gallery %}
  <div class="gallery-image">
    <img src="{{image.image}}" /><i>{{image.date}}<br />{{image.body}}</i>
  </div>
  {% endfor %}
</div>
