@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

i {
  display: inline-block;
}

html,
body {
  box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #131313;
  overflow: initial;
}

main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 100px;
}

main:after {
  content: "";
  display: block;
}

.footer,
main:after {
  /* .push must be the same height as footer */
  height: 100px;
}

::after,
::before {
  box-sizing: inherit;
}

.header {
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  background: #131313;
  color: #fff;
  transition: height ease 0.25s;
  z-index: 4;
}

.header .row {
  padding-top: 0;
  max-width: 75rem;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.header .row ul {
  display: flex;
  margin: 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  height: 100%;
}

.header .row li {
  order: unset;
  padding: 0;
  position: relative;
}

.header .row li:first-of-type {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  padding-left: 115px;
}

.eric {
  position: fixed;
  right: 0;
  bottom: -15rem;
  z-index: 999;
  transition: bottom ease 5.5s;
}

.eric.active {
  bottom: -2.5rem;
  transition: bottom ease 2.5s;
}

#lefolgCtrl {
  display: none;
}

.lefolg {
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 15px 0 #000,
    3px 3px 0 #000;
  position: fixed;
  font-size: 15vw;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

#lefolgCtrl:disabled + .lefolg {
  animation: fadein 10s linear forwards, rainbow 10s infinite;
}

@keyframes fadein {
  0%,
  100% {
    opacity: 0;
  }
  50%,
  80% {
    opacity: 1;
  }
}

@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

.header .row a {
  text-decoration: none;
  color: inherit;
}

.header .row li:not(:first-of-type) > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header .row li:not(:first-of-type) a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header button {
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 0;
  border-style: none;
  background: none;
  padding: 10px;
  border: #fff solid 2px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.header button:hover {
  background: #fff;
  color: #131313;
  transition: all 0.25s ease-in;
}

/* https://codepen.io/RRoberts/pen/ZBYaJr */
/* For mobile */
.hamburger {
  display: none;
  position: absolute;
  margin-top: 0.75em;
}

.hamburger .line {
  width: 25px;
  height: 2.5px;
  background-color: #ecf0f1;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.header.is-active .hamburger .line:nth-child(2) {
  opacity: 0;
}

.header.is-active .hamburger .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(6.5px) rotate(45deg);
}

.header.is-active .hamburger .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-6.5px) rotate(-45deg);
}

.header .nav-logo {
  display: inline-block;
  background: url(./assets/Seal2.png) no-repeat;
  background-position: center;
  background-size: contain;
  top: -30px;
  left: -15px;
  position: absolute;
  height: 100px;
  width: 100px;
  transition: all ease 0.25s;
}

.banner {
  margin: 0;
  max-width: 100%;
}

.banner img {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.free-time-banner {
  margin-top: 100px;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}

h1.page-title {
  margin-top: 200px;
  font-size: 7.5em;
  text-align: center;
}

.contact {
  display: flex;
  font-size: 1.25em;
}

.contact > * {
  padding: 1.5em;
  margin: 0 auto;
}

.contact img {
  max-height: 60vh;
}

.contact .title {
  font-weight: 700;
}

.home-title {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 5rem;
}

.home-title h1.text-header {
  margin: auto;
  font-size: 4rem;
  line-height: 10rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}

.home-title h1.text-header span {
  color: #1954ad;
  font-family: Roboto;
  font-weight: 600;
}

.home-title p.text-subheader {
  margin: auto;
  font-size: 1.75rem;
  font-weight: 500;
  max-width: 70%;
}

.home-title p.text-description {
  margin: auto;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 70%;
}

.home-title br {
  display: block;
  margin: 10px 0;
}

.home-title .button-group {
  margin: 20%;
  margin-top: 2.5rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.home-title .buttons {
  flex: 1;
  flex-direction: row;
  margin: 1em;
}

.home-title button {
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 0;
  border-style: none;
  background: #131313;
  padding: 10px;
  cursor: pointer;
}

.gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 2.5rem;
}

.gallery img {
  width: 30%;
  margin: 1rem;
}

.map {
  margin: 5em;
}

.map h2,
.articles > h2 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.map .content {
  display: flex;
  justify-content: center;
  max-height: 30em;
}

.map .content div {
  margin: 1em;
}

.map .gmap iframe {
  width: 35em;
  height: 100%;
}

.map .list {
  display: flex;
  flex-direction: column;
}

.map .list p {
  margin-top: 0;
  font-size: 1.25em;
  line-height: 1.1em;
  text-align: justify;
}

.map .list ul {
  /* padding: 0; */
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.map .list li {
  padding: 0.35em;
  width: 20ch;
  cursor: pointer;
}

.map i {
  font-weight: 500;
  font-size: 0.75em;
  width: 15ch;
}

.footer {
  width: 100%;
  background: #131313;
  display: flex;
  margin: auto;
  /* position: absolute; */
}

.footer .title {
  display: flex;
  flex-direction: row;
  margin: auto 0;
  margin-left: 50px;
}

.footer .title .logo {
  display: inline-block;
  background: url(./assets/Seal2.png) no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  height: 55px;
  width: 55px;
  left: -1rem;
  transform: translate(2rem, -10px);
}

.footer .title a,
.footer .title span {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  padding-left: 115px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.footer .info {
  color: #fff;
  text-align: right;
  position: absolute;
  right: 0;
  margin: 1rem;
}

.articles {
  max-width: 80%;
  margin: auto;
  margin-top: 125px;
}

.news-content {
  max-width: 80%;
  margin: auto;
  margin-top: 125px;
  font-family: "Courier New", Courier, monospace;
}

.news-content table {
  border-collapse: collapse;
}

.news-content td img {
  width: 99%;
}

.news-content td em {
  white-space: nowrap;
}

.news-content .article-img {
  width: 50%;
}

.news-content .article-img-medium {
  width: 15%;
}

.news-content .author-img {
  margin-top: 5rem;
  max-width: 7.5%;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 35%;
  padding: 1.3rem;
  min-height: 250px;
  position: fixed;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 6;
  left: 50%;
  transform: translateX(-50%);
  animation: fadein 3s;
  text-align: center;
}

.modal .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal .buttons button {
  flex: 1 1 0px;
  margin: 2.5em;
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 0;
  border-style: none;
  background: #131313;
  padding: 10px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 5;
  animation: fadein 1.5s;
}

.hidden {
  display: none;
}

h2 {
  padding: 0 1rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.testimonials-container {
  padding: 0 40px;
  margin: 30px 0 50px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.testimonials {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.testimonials-container h2 {
  padding: 10px 10px 15px;
  text-align: center;
  width: 100%;
  margin: 0 auto 30px;
}

.testimonial {
  width: 25%;
  border-radius: 20px;
  background: linear-gradient(
    to right bottom,
    #0968d460,
    #1364c060,
    #2266b460,
    #3e77b860,
    #649ddf60
  );
  padding: 20px;
  position: relative;
  margin-bottom: 75px;
}

.testimonial:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  right: 50px;
  width: 0;
  border-width: 15px 20px 0;
  border-style: solid;
  border-color: #0968d460 transparent;
}

.testimonial h3 {
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.testimonal-author {
  font-size: 1rem;
  position: absolute;
  bottom: -40px;
  right: 0;
}

.testimonials-container span {
  text-align: center;
  font-size: 1.25em;
}

@media all AND (max-width: 700px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    width: 90%;
    margin-bottom: 60px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .banner img {
    margin-top: 100px;
  }

  .header:not(.is-active) .row li:not(:first-of-type) {
    display: none;
  }

  .hamburger {
    position: fixed;
    display: block;
    top: 25px;
    right: 25px;
  }

  .header .row a {
    font-size: 1em;
  }

  .header .row li:first-of-type {
    left: -0.5em;
  }

  .header .row li:first-of-type a:last-of-type {
    left: -2rem;
    position: relative;
  }

  .header .nav-logo {
    top: -1.5rem;
    width: 5rem;
    height: 5rem;
  }

  .header.is-active {
    height: 100%;
  }

  .header.is-active ul {
    margin-top: 2rem;
    margin-left: 1rem;
    flex-direction: column;
    align-items: start;
    justify-content: initial;
  }

  .header.is-active li,
  .header.is-active a {
    font-size: 2rem;

    margin-bottom: 2.5rem;
  }

  .header button {
    background: #fff;
    color: #131313;
  }

  .header.is-active .nav-logo {
    top: -0.5em;
    height: 2em;
    width: 2em;
  }

  .header.header.is-active li:first-of-type {
    margin-bottom: 5rem;
  }

  .header.header.is-active li:first-of-type a:last-of-type {
    position: relative;
    font-size: 1em;
    left: -2em;
  }

  .home-title {
    padding: 0.5em;
  }

  .home-title h1.text-header {
    line-height: 1.5em;
  }

  .home-title p.text-subheader {
    font-size: 1.25em;
    max-width: 90%;
  }

  .gallery img {
    margin: 0.25em;
  }

  .map {
    margin: 1em;
  }

  .map h2 {
    margin-bottom: 0;
  }

  .map .content {
    flex-direction: column;
    max-height: none;
  }

  .map .content .list li {
    max-width: 15ch;
  }

  .map .gmap iframe {
    width: 100%;
    height: 20em;
  }

  .footer {
    display: block;
    width: 100%;
    height: 10rem;
    overflow: hidden;
  }

  .footer .title {
    justify-self: flex-start;
    top: 2em;
    left: -2.5em;
    position: relative;
  }

  .footer .title .logo {
    left: -2.5em;
  }

  .footer .info {
    margin-top: 2rem !important;
  }

  .modal {
    width: 60%;
  }

  .modal .buttons button {
    margin: 1em;
  }

  .news-content .article-img {
    width: 100% !important;
  }

  .news-content .article-img-medium {
    width: 75% !important;
  }

  .page-title {
    font-size: 3em !important;
  }

  .contact {
    flex-direction: column;
  }

  .contact img {
    width: 80%;
  }
}
