---
title: "News | LEFOLG"
description: "Leftist Men News! All the info you could possibly need about whats going on with text-header Leftist Men."
layout: tlm-default
---

<!-- CONTENT -->
<div class="articles">
  <h2>Leftist Men News</h2>
  <div class="list">
    <div>
      {% for post in site.posts %} {% if post.hide != true %}
      <div class="article">
        <h2>
          <a href="{{ post.url }}">{{ post.title }} </a>
        </h2>
        <time datetime="{{ post.date | date: '%m-%d-%Y' }}"
          >{{ post.date | date_to_string: "ordinal", "US" }}</time
        >
        <br />
        <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
