<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="{{page.description}}{{layout.description}}"
    />
    <meta name="robots" content="index" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TNTPE36Q1Y"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-TNTPE36Q1Y");
    </script>

    <title>{{page.title}}{{layout.title}}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "LEFOLG",
        "url": "https://theleftistmen.org/"
      }
    </script>

    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <main>
      <div class="header">
        <div class="row">
          <ul>
            <li>
              <a
                class="nav-logo"
                href="https://theleftistmen.org"
                aria-label="LEFOLG Logo"
              ></a>
              <a href="https://theleftistmen.org">LEFOLG</a>
            </li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/free-time.html">Free Time</a></li>
            <li><a href="/news">News</a></li>
            <li>
              <button>
                <a target="”_blank”" href="https://tinyletter.com/LEFOLG"
                  >SUBSCRIBE</a
                >
              </button>
            </li>
            <div class="hamburger">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </ul>
        </div>
      </div>
      {{content}}
    </main>
    <div class="footer">
      <div class="title">
        <span class="logo"></span>
        <a href="https://theleftistmen.org">LEFOLG</a>
      </div>
      <div class="info">
        <p>Copyright 2023 LEFOLG</p>
        <p>Website built and designed by Benny Hernandez</p>
      </div>
    </div>
  </body>
  <script>
    window.onscroll = function () {
      if (document.documentElement.scrollTop > 50 && screen.width > 480) {
        document.getElementsByClassName("header")[0].style.height = "50px";
        document.getElementsByClassName("nav-logo")[0].style.top = "-100px";
        document.getElementsByClassName("nav-logo")[0].style.opacity = "0";
      } else {
        document.getElementsByClassName("header")[0].style.height = "";
        document.getElementsByClassName("nav-logo")[0].style.top = "";
        document.getElementsByClassName("nav-logo")[0].style.opacity = "";
      }
    };
  </script>
  <script>
    $(document).ready(function () {
      $(".hamburger").click(function () {
        $(".header").toggleClass("is-active");
      });
      $(".header a").click(function () {
        $(".is-active").removeClass("is-active");
      });

      let count,
        time = 0;
      $(".footer .logo").click(function () {
        count++;
        if (count >= 3 && Date.now() - time < 3000) {
          $(".eric").toggleClass("active");
          count = 0;
        }
        if (Date.now() - time > 3000) count = 1;
        time = Date.now();
      });
    });
  </script>
</html>
